@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Parkinsans", sans-serif;
}

nav {
    background-color: #BCE5FF;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Jaro", sans-serif;
    animation: logo 3s linear infinite;
}

@keyframes logo {
    0% {
        transform: rotateY(0deg);
        color: rgb(30, 30, 251);
    }

    50% {
        transform: rotateY(180deg);
        color: rgb(32, 32, 103);
    }

    100% {
        color: rgb(63, 63, 149);
        transform: rotateY(360deg);
    }
}

.logo p {
    font-size: 20px;
}

.logo h1 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 500;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.links button {
    position: relative;
    padding: 17px 90px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(30, 30, 249, 0.248);
    border: 1px solid blue;
    position: relative;
}

.links button::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.729);
    transition: all .6s ease-in-out;
    z-index: -7;
    opacity: 0;
}

.links button:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    backdrop-filter: blur(5px);
}

.links button::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.729);
    transition: all .6s ease-in-out;
    z-index: -7;
    opacity: 0;
}

.links button:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    backdrop-filter: blur(5px);
}

.links button a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.links button a:hover {
    color: yellow;
}

.icons {
    display: flex;
    align-items: center;
    gap: 14px;
}

.icons p {
    font-size: 19px;
    transition: all .3s ease;
}

.icons p:hover {
    transform: scale(1.2);
}

.icons p a {
    color: black;
    transition: all .3s ease;
}

.icons p a:hover {
    color: blue;
}

.search {
    width: 230px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid blue;
    transition: all .3s ease;
    padding: 5px 10px;
}

.search:hover {
    box-shadow: 0px 0px 5px 3px gray;
}

.search input {
    padding: 4px 3px;
    width: 200px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

.search input::placeholder {
    color: blue;
}

.search label {
    cursor: pointer;
    font-size: 16px;
    color: blue;
}



.hero {
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #F1F5FB;
}

.hero .container {
    border-radius: 10px;
    background: linear-gradient(90deg, #25043E, #420079, #BCE8FF, #420079);
    padding-top: 20px;
    overflow: hidden;
    position: relative;
}

.qadash {
    top: 180px;
    right: 20px;
    text-align: center;
    color: black;
    position: absolute;
    font-size: 28px;
    width: 40px;
    height: 40px;
    background-color: #CFE4FF;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;
    animation: qadash 2s linear infinite;
}

.qadash:hover {
    background-color: lime;
}

.qadash:active {
    background-color: blue;
}

.qadash_left {
    top: 180px;
    left: 20px;
    color: white;
    text-align: center;
    color: black;
    position: absolute;
    font-size: 28px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CFE4FF;
    animation: qadash 2s linear infinite;
    transition: all .3s ease;
}

.qadash_left:hover {
    background-color: lime;
}

.qadash_left:active {
    background-color: blue;
}

@keyframes qadash {
    0% {
        transform: scale(1);
        color: black;
    }

    50% {
        transform: scale(1.2);
        color: blue;
    }

    100% {
        transform: scale(1);
        color: green;
    }
}

.hero .chegirma a {
    text-decoration: none;
    width: 1000px;
    border-radius: 70px 0px 70px 0px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    background: linear-gradient(90deg, #EBDEFE, #CFE4FF, #BCE5FF);
}

.chegirma_muxlat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    padding-top: 20px;
}

.chegirma_muxlat h2 {
    width: 400px;
    font-size: 23px;
    text-align: center;
    padding: 5px 0px;
}

.barakali {
    background-color: #FF007D;
    color: white;
}

.dekabr {
    color: black;
    background-color: yellow;
}

.ckeklangan {
    background-color: blueviolet;
    color: white;
}

.rasm {
    width: 300px;
}

.rasm img {
    width: 100%;
    animation: rasm 4s linear infinite;
}

@keyframes rasm {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}



.chegirma_info {

    text-align: right;
}

.chegirma_info h3 {
    font-size: 36px;
    color: #420079;
    margin-bottom: 20px;
}

.chegirma_info .sale {
    font-size: 70px;
    font-weight: 700;
}

.narx {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.narx .sups {
    width: 140px;
    padding: 3px 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    text-decoration: line-through;
    background-color: lavender;
}

.narx .persent {
    width: 90px;
    height: 50px;
    border-radius: 30%;
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    background-color: #FF007D;
    color: white;
}



.jadvall {
    padding-top: 10px;
    background-color: whitesmoke;
}

.jadvall_about {
    text-align: center;
    background-color: #FF007D;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 100px 0px 100px 0px;
}

.jadvall_about h2 {
    font-size: 40px;
    color: white;
    font-weight: 900;
    margin-bottom: 10px;
}

.jadvall_about p {
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    color: yellow;
}

.jadvall .belgilash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.jadvall .belgilash form {
    width: 590px;
    padding: 10px 10px;
    text-align: left;
    background-color: #FF007D;
    border: 2px solid red;
    border-radius: 20px;
}

.belgilash form p {
    color: yellow;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.belgilash form li {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.belgilash form label {
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.belgilash form label:hover {
    color: yellow;
}

.belgilash form input {
    transition: all .3s ease;
    width: 15px;
}

.belgilash form input:hover {
    transform: scale(1.2);
}



.tables {
    padding-bottom: 50px;
}

.tables h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 0px 10px red;
    color: blue;
}

.tables table {
    margin-top: 20px;
    width: 100%;
    border: 10px groove #25043E;
    border-radius: 50px;
    overflow: hidden;
    padding: 30px;
    text-align: center;
    background-color: white;
    background-image: url("../imgs/orqa\ fon.avif");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: green;
}

table .down {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.down a {
    font-size: 20px;
    color: green;
}

.tables table thead th {
    padding: 10px;
    border: 5px solid #420079;
    font-size: 20px;
    color: rgb(12, 58, 12);
}

.tables table tbody td {
    font-size: 18px;
    font-weight: 600;
    border: 5px solid #420079;
}

.tables table thead .bosh {
    border-radius: 30px 0px 0px 0px;
}

.tables table thead .oxiri {
    border-radius: 0px 30px 0px 0px;
}



.tables table tbody .hp3 {
    border-radius: 0px 0px 0px 20px;
}

.tables table tbody .hp2 {
    border-radius: 0px 0px 20px 0px;
}



.products h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;
    border-top: 6px inset #25043E;
    border-bottom: 6px inset #25043E;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px red;
}








.products_desktops {
    background: #00071C;
}

.products_desktops .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.products_desktops .types {
    position: relative;
    display: flex;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
}

.types li {
    position: relative;
    list-style: none;
    width: 160px;
    height: 200px;
    margin: 0px 30px;
}

.types li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.types li:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
    filter: drop-shadow(0 0 10px #fffdef);
}

.types li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.types li:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

.types li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.types li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.types li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.types li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.types li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}

.types li:nth-child(1):hover span {
    background: #52E19F !important;
}

.types li:nth-child(2):hover span {
    background: #2C3456 !important;
}

.types li:nth-child(3):hover span {
    background: #EA6E96 !important;
}

.types li:nth-child(4):hover span {
    background: #FCEB00 !important;
}







.products_desktops {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.products_desktops button {
    padding: 5px 15px;
    background-color: honeydew;
    border: 1px solid gray;
    border-radius: 20px;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px 3px gray;
    cursor: pointer;
}

.products_desktops button:hover {
    transform: scale(1.1);
    background-color: #BCE8FF;
}

.products_desktops a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.boxs {
    margin-top: 20px;
    border-top: 10px groove #25043E;
}

.boxs .apple_kompyuter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.apple_kompyuter h1 {
    font-size: 35px;
    font-weight: 700;
}

.apple_kompyuter .laptop_apple {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #aee6ff;
    transition: all .3s ease-in-out;
    animation: rasm 3s linear infinite;
}

.apple_kompyuter .laptop_apple:hover {
    background-color: #FF007D;
}

.laptop_apple a {
    font-size: 70px;
    color: white;
}

.apple_kompyuter .turn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #aee6ff;
    text-align: center;
    padding-top: 13px;
    animation: turn 2s linear infinite;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.apple_kompyuter .turn:hover {
    background-color: #FF007D;
}

@keyframes turn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.turn a {
    color: white;
    font-size: 30px;
}




.cards {
    border-top: 5px groove #aee6ff;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 380px;
    text-align: center;
    /* border: 2px solid blue; */
    box-shadow: 0px 0px 10px 4px gray;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.setup1 {
    width: 400px;
    text-align: center;
    margin: 0px auto;
    left: -800px;
    position: absolute;
    transition: all .3s ease;
    padding: 0px 26px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(5px);
}



.setup1 img {
    width: 100%;
}

.setups:hover .setup1 {
    left: 0px;
}

.setups {
    padding: 0px 30px;
    width: 100%;
    height: 370px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    animation: setups 10s linear infinite;
}

@keyframes setups {
    0% {
        background-image: url("https://nout.uz/wp-content/uploads/2021/12/m1-macbook-5.jpg");
        background-position: center;
        background-size: 90%;
        animation-delay: 2s;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url("https://nout.uz/wp-content/uploads/2021/12/m1-macbook-1.jpg");
        background-position: center;
        background-size: 90%;
        animation-delay: 5s;
    }

    50% {
        background-image: url("https://nout.uz/wp-content/uploads/2021/12/m1-macbook-2.jpg");
        background-position: center;
        background-size: 90%;
        animation-delay: 8s;
    }

    75% {
        background-image: url("https://nout.uz/wp-content/uploads/2021/12/m1-macbook-1.jpg");
        background-position: center;
        background-size: 90%;
        animation-delay: 11s;
    }

    100% {
        background-image: url("https://nout.uz/wp-content/uploads/2021/12/m1-macbook-5.jpg");
        background-position: center;
        background-size: 90%;
        animation-delay: 14s;
        background-repeat: no-repeat;
    }
}

.setup {
    padding: 10px 0px;
}

.card button {
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #52E19F;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 4px #52E19F;
    cursor: pointer;
    transition: all .3s ease;
}

.card button:hover{
    transform: scale(1.1);
}

.setup .information {
    line-height: 30px;
}

.information li {
    margin-bottom: 10px;
}

.information .yangi {
    font-size: 15px;
    font-weight: 500;
}

.information .nom {
    font-size: 18px;
    font-weight: 600;
}

.information .turi {
    font-size: 16px;
    font-weight: 500;
    color: #2C3456;
}

.tanlov {
    margin-top: 30px;
    border: 2px solid red;
    background-color: #FF007D;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.tanlov h6 {
    font-size: 17px;
    font-weight: 600;
    color: yellow;
}

.maxsulot p {
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.has {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.qolgan .watch {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 17px;
}

.watch p {
    font-size: 17px;
    text-decoration: underline;
    font-weight: 500;
    color: white;
}

.watch button {
    padding: 7px 10px;
    border-radius: 6px;
    border: none;
    background-color: #52E19F;
    box-shadow: 0px 0px 6px 3px #52E19F;
    transition: all .3s ease;
}

.watch button:hover {
    transform: scale(1.1);
    background-color: #aee6ff;
    box-shadow: 0px 0px 6px 3px #aee6ff;
}

.watch button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: all .3s ease;
}

.watch button a:hover {
    color: #25043E;
}

.lenovos {
    overflow: hidden;
}

.lenovos img {
    width: 100%;
}

.setups1 {
    animation: setups1 10s linear infinite;
}

@keyframes setups1 {
    0% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/c4ca4238a0b923820dcc509a6f75849b2023092209252097244i7FVDfh4uW.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 2s;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/a87ff679a2f3e71d9181a67b7542122c2023092209252093537PnQdI5Odau.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 5s;
    }

    50% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/e4da3b7fbbce2345d7772b0674a318d52023092209252094857ziRKEFWkBU.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 8s;
    }

    75% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/eccbc87e4b5ce2fe28308fd9f2a7baf32023092209252030376btWlv1vw48.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 11s;
    }

    100% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/c81e728d9d4c2f636f067f89cc14862c2023092209252062895PLKHLTWyLf.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 14s;
        background-repeat: no-repeat;
    }
}

.hps {
    overflow: hidden;
}

.hps img {
    width: 100%;
}

.setups2 {
    animation: setups2 10s linear infinite;
}

@keyframes setups2 {
    0% {
        background-image: url("https://seeklogo.com/images/H/Hewlett_Packard-logo-31DC257A8E-seeklogo.com.png");
        background-position: center;
        background-size: 90%;
        animation-delay: 2s;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/67f72b06e30651b03d136555325d0fa62023122016090444156XDd93cgG5j.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 5s;
    }

    50% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/86a10ff2f98f7240cb3ce249d008070220231220160904913107tn2eoIE7Q.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 8s;
    }

    75% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/f60004a1c3f1418bc4941d6b215b7b6920231220160909875067RyooTItKj.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 11s;
    }

    100% {
        background-image: url("https://assets.asaxiy.uz/product/items/desktop/d7180f5fb6761cd5c022892bf0146bc62023122016090579712hcetwZceUJ.jpg.webp");
        background-position: center;
        background-size: 90%;
        animation-delay: 14s;
        background-repeat: no-repeat;
    }
}


footer{
    background-color: #00071C;
}

footer .container{
    padding-top: 50px;
   
}

.tolovlar{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

footer .abouts li{
   margin-bottom: 20px;    
}

.abouts li a{
    text-decoration: none;
    color: #EBDEFE;
    font-size: 18px;
    font-weight: 600;
}

footer .aloqa li{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.paymet{
}

footer .paymet li{
   width: 50px;
   font-size: 50px;
}

footer .paymet a{
    color: white;

}